name: Run Python Script

on:
  push:
    branches:
      - main

jobs:
  run-python:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.x

      - name: Install setuptools
        run: python -m pip install --upgrade pip setuptools

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run script
        run: python your_script.py
